.social-links1 {
  height: 2rem;
  width: 2rem;
}
.social-links2 {
  height: 2rem;
  width: 2rem;
  margin-left: 2%;
}

/* hr {
  border: none;
  border-top: 1px solid black; 
  height: 1px; 
} */
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F7F4FF;
}
.home-container01 {
  width: 100%;
  height: 265px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  top: 60%;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
  z-index: 100;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-container02 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container03 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container04 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-container05 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container08 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container09 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-container10 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container13 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container14 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-container15 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-container16 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .home-container01 {
    width: 100%;
    height: 274px;
    background-color: #3f3a63;
  }
  .home-image {
    top: 60%;
    flex: 1;
    left: 0px;
    width: 211px;
    height: 240px;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-round);
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    animation-iteration-count: 1;
    animation-timing-function: ease;
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .home-container02 {
    width: 232px;
    height: 154px;
    border-color: rgba(120, 120, 120, 0);
  }
  .home-container03 {
    width: 90%;
    height: auto;
    position: relative;
  }
  .home-text {
    align-self: center;
  }
  .home-text1 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .home-container04 {
    width: 100%;
    height: auto;
  }
  .home-social-bar {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .home-icon {
    width: 30px;
    height: 30px;
  }
  .home-icon2 {
    width: 30px;
    height: 30px;
  }
  .home-container05 {
    width: 90%;
    border-width: 0px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text2 {
    font-style: normal;
    font-weight: 400;
  }
  .home-container06 {
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-fourunits);
    border-color: var(--dl-color-gray-white);
    border-width: 0px;
  }
  .home-container07 {
    width: 100%;
    height: 50px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text3 {
    align-self: flex-start;
    font-weight: 400;
  }
  .home-container08 {
    width: 100%;
    height: auto;
  }
  .home-blog {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
  }
  .home-container12 {
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-container13 {
    width: 100%;
    border-width: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text4 {
    font-style: normal;
    font-weight: 400;
  }
  .home-container14 {
    width: 100%;
    height: auto;
  }
  .home-features {
    width: 100%;
    height: auto;
    padding: 0px;
  }
  .home-container15 {
    width: auto;
    height: auto;
    margin-top: var(--dl-space-space-twounits);
  }
  .home-container16 {
    width: 100%;
    height: auto;
    border-width: 0px;
    background-color: #3f3a63;
  }
  .home-button {
    color: var(--dl-color-gray-900);
    width: auto;
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 20px 0px;
    margin-top: var(--dl-space-space-threeunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-threeunits);
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 1200px) {
  .home-image {
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .home-container03 {
    width: 90%;
  }
  .home-container05 {
    width: 90%;
    height: 115px;
  }
  .home-text2 {
    font-style: inherit;
    font-weight: 500;
  }
}
@media(max-width: 991px) {
  .home-blog {
    flex-direction: column;
  }
  .home-container09 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container10 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container15 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

/* Skill scroller */
/* Slider-tools */

.skills-scroller-container {
  margin-top: 0px;
}

.skills-heading {
  font-size: 50px;
  margin-bottom: 10px;
}

.skills-scroller {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 1000px; /* Adjust as needed */
  margin-left: 25%;
  margin-right: 25%;
}

.skill-item {
  margin-bottom: 50px;
}

.skill-name {
  /* font-weight: bold; */
  font-size: 30px ;
}

.skill-bar {
  height: 30px;
  background-color: #e0e0e0;
  /* border-radius: 15px; */
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-scroller-container{
  width: 90%;
}
.skills-heading{
  font-weight: 400;
  font-size: 2em;
}
.skill-name{
  font-size: 1em;
}


/* .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 60vh;
  padding: 2.5rem 2rem 2rem 2rem;
}
.skills-heading{
  font-weight: 400;
  font-size: 2em;
}

.skillsHeader {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.skillsHeader h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
}
.skills-scroller-container{
  width: 90%;
}
.skills-scroller{
  border-radius: 50%;
}

.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  margin-top: 3.5rem;
  padding: 0 2rem;
}

.skill--scroll {
  width: 100%;
  margin: 0 2rem;
}
.skill-name{
  font-size: 1em;
}

.skill--box {
  background: #FAFAFA;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 160px;
  height: 160px;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  transition: 300ms ease-in-out;
}

.skill--box:hover  {
  transform: scale(1.15);
}


.skill--box > img {
  height: 50px;
  pointer-events: none;
}


.skill--box h3 {
  font-family: Big Shoulders Text;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-top: 1rem;
} */